.masthead{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/cablecar.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}




.topbar{
    margin-top:30px;
}

.col-lg-5{
  min-height: 90px;
}

.homebutton a:hover{
  text-decoration: none;
}

@media (min-width: 1500px) {
  .container{
    width: 2000px;
  }
}

.homebutton-top{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #406882;
}

.homebutton-bot{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #2a4752;
}

.addressline{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #2a4752;
}

.addressline-header{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #406882;
}

.contactline{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #406882;
}
