.masthead{
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/cablecar.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead h1{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}


#mission-statement{
  padding: 30px;
  background-color: #d5dbe0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@media (max-width: 1199px) {
  #mission-statement{
    font-size:16px;
  }
}

@media (max-width: 769px) {
  #mission-statement{
    font-size:15px;
  }
}
.topbar{
    margin-top:30px;
}

.col-lg-5{
  min-height: 90px;
}

.homebutton a:hover{
  text-decoration: none;
}

@media (min-width: 1500px) {
  .container{
    width: 2000px;
  }
}

.homebutton-top{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #406882;
}

.homebutton-bot{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #2a4752;
}

.addressline{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #2a4752;
}

.addressline-header{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #406882;
}

.contactline{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #406882;
}


#mainnav {
  min-height: 4rem;
  background-color: #2f3c52;
  font-family: 'Roboto', sans-serif;
}

#mainnav .navbar-toggler {
  font-size: 100%;
  padding: 0.75rem;
}

#mainnav .nav-item{
  margin-right: 10px;
}

#meet{
  padding: 20px;
}

.meetheader{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: normal;
}

.headshot{
  float: left;
  width: 250px;
  margin-right: 20px;
}
.bioheadshot{
  width: 350px;
}
.bioheadshottxt{
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
}

.bio{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.bio-box{
  padding-top: 15px;
}

@media (max-width: 1200px) {
  .bioheadshottxt{
    width:50%;
    margin-right: 20px;
  }

  .bio-box{
    padding-top: 5px;

  }
  .bioheadshot{
    width:300px;
    margin-right: 20px;
  }
}

.orimage{
  text-align: center;
}

#demo3{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .headshot{
    width:150px;
  }
  .bio{
    font-size: 15px;
  }
  .meetheader{
    font-size: 19px;
  }
  .bio-box{
    padding-top: 5px;
  }
  .bioheadshot{
    width: 100%;
  }
  .bioheadshottxt{
    width: 100%;
  }
  #demo2{
    display: none;
  }
}

@media (min-width: 991px) {
  #demo3{
    display: none;
  }
}


@media (max-width: 767px) {
  .headshot{
    width:150px;
  }
  .bio{
    font-size: 15px;
  }
  .meetheader{
    font-size: 19px;
  }
  .bio-box{
    padding-top: 5px;
  }
  .bioheadshottxt{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .bioheadshot{
    width:200px;
    margin-right: auto;
    margin-left: auto;
  }
}



@media all and (min-width: 768px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

#profilebutton{
  font-family: 'Roboto', sans-serif;
  background-color: #2f3c52;
  color: white;
}

#profilebutton:hover{
  background-color: #577099;
}

#profilebutton:active{
  background-color: #3d506e;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

#specializations{
  background-color:#495363;
  padding-top:20px;
}

.list-inline-item{
  margin:10px;
  color: #d3d6db;
  font-family: 'Roboto', sans-serif;
}

.list-inline-item:hover{
  color: #b7bec9;
}

.specialization-images{
  margin-bottom: 10px;
  max-width: 115px;
  max-height: 94px;
}

#labral{
  max-width: 80px;
}

iframe{
  margin: 10px
}

#footer{
  padding: 20px;
}

.footer-logos{
  max-height: 55px;
  margin-left: 10px;
  margin-right: 10px;
}

@media all and (min-width: 768px) {
	#demo{
    display: none;
  }
}

@media all and (max-width: 768px) {
	.logo-line{
    display: none;
  }
}

.carousel-indicators{
  visibility: hidden;
}

.contact-locations{
  padding-left: 10px;
  text-align: left;
}

.locationtop{
  pointer-events: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}
/* test */
.location-text{
  pointer-events: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: left;
}

.location-header{
  .font-family: 'Roboto', sans-serif;
  .font-size: 20px;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 20px;
}
.biosubheading{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.location-subheader{
  .font-family: 'Roboto', sans-serif;
  .font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.location-box{
  margin-left: 20px;
  margin-bottom: 30px;
}

.iframeLocations{
  height: 100%;
  width: 100%;
  margin-left:20px;
  margin-right: 20px;
  text-align: center;
}

.inlinebox{
  display: :inline
}
